.project-head
	= avatar
	.project-title
		%h1.title= @production.title
		.clr
		%span.creator-info
			= "By:" 
			= link_to @production.creator , @production.creator

.clr

#main
	.project-left
		.label-left
		.label-right
			%h2
				%span.label
					BPM
			%h2
				%span.label
					versions
			%h2
				%span.label
					followers
	.project-main
		%audio{:controls => "controls"}
			%source{:src => @production.versions.first.audio_file, :type=>"audio/mpeg"}
.clr