<h1>All Projects</h1>
<ul>
	<% @projects.each do |project| %>
		<li>
			id:<%= project.id %> - <%= link_to project.title, project  %>, <%= project.bpm %>, <%= project.tags %>
		</li>
	<% end %>
</ul>
