.version
	.branch
	= avatar(version.user)
	.version-info
		%h3.version-title= version.user.username
		%span.version-user
			Code Name: 
			= version.title
			.clr
			=link_to "see all forks", version.user
			
		%span
	.clr
	= render :partial => "player", :locals => { :version => version }
	