@import 'all.css.scss';

html,body {
	margin:0;
	min-height: 100%;
	height: 100%;
	width: 100%;
// 	@include linear-gradient($bglight, $bgdark);
	background-color:white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position:relative;
	-webkit-font-smoothing: antialiased;
	z-index: -10;
}

header {
	width: 100%;
	height: 24px;
	@include linear-gradient(#333, black);
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	padding: 13px 0px;
	font-size: 14px;
	font-weight: lighter;
	
	.logo {
		float: left;
		margin-left: 20px;
	}
	nav {
		float: right;
		margin-right: 20px;
		a.auth {
			opacity:.9;
			@include transition(1s opacity);
			&:hover {
				opacity:1;
			}
		}
	}
}

.main {
	position: absolute;
	top: 60px;
	left: 25px;
	right: 25px;
	bottom: 10px;
}

h1 {
	@include bebas;
	
	font-size: 50px;
	margin: 0 auto;
}

h3 {
	@include bebas;
	color: #444;
	font-size:27px;
	margin: 0px auto;
}
.clr {clear: both;}

a {
	text-decoration: none;
	color: $orange;
	
	&:visited {
		color: $orange;
	}
	
	&:hover {

		text-decoration: none;
	}
}
a.back {
	$color: #9a907f;
	font-size: 12px;
	text-decoration: none;
	color: $color;
	
	&:visited {
		color: $color;
	}
	&:hover {
		color: lighten($color, 20%);
	}
}
///FORMS
form.follow{
	display:inline-block;
	.btn-action {
		height: 25px;
	padding: 1px 10px 1px;
	}
}
// BUTTONS
.btn-action {
	-webkit-font-smoothing:antialiased;
	position: relative;
	display:inline-block;
	z-index: 9999999999;
	color:#2c77b8;
	height:20px;
	padding: 4px 10px 1px;
	@include linear-gradient(#f8f8f8,#f0f0f0);
	font-weight: bold;
	text-shadow: 0px 1px white;
	box-shadow:0px 0px 1px rgba(0,0,0,.3), 0px 1px 2px rgba(0,0,0,.4);
	border-radius:2px;
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	white-space:nowrap;
	vertical-align: middle;
	margin-left: 8px;
	border:none;
	cursor:pointer;
	@include transition(1s opacity);
	&.active{ 
		@include linear-gradient(#FFEDBD,#F0E595);
	color: #677077;
	cursor:pointer;
	}
	img.icon {
		display:inline-block;
		vertical-align:text-top;
		margin-right: 6px;
	}
	img.fork {
		margin-top: -1px;
	}
}	
.em {
	color:darken($orange,20%);
	font-weight: bold;
}

.btn-big {
	margin-top: 10px;
	color:rgba(255,255,255,1);
	font-weight:bold;
	text-transform:uppercase;
	font-size:20px;
	padding: 0px 20px;
	height: 60px;
	border-radius:70px;
	border: 1px solid $orange;
	border-top: 1px solid lighten($orange, 40%);
	border-bottom: 1px solid darken($orange, 20%);
	@include linear-gradient(lighten($orange, 5%),darken($orange,5%));
}
span.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	background-color: lighten($blue,70%);
	display:none;
}