@import 'all.css.scss';

html,body {
	margin:0;
	min-height: 100%;
	height: 100%;
	width: 100%;
// 	@include linear-gradient($bglight, $bgdark);
	background-color:#F7F2E8;
	@include arial15;
	position:relative;
	-webkit-font-smoothing: antialiased;
}

header {
	width: 100%;
	height: 24px;
	@include linear-gradient(#3d3d3d, #2a2a2a);
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	padding: 13px 0px;
	font-size: 14px;
	font-weight: lighter;
	
	.logo {
		float: left;
		margin-left: 20px;
	}
	nav {
		float: right;
		margin-right: 20px;
		margin-top: 3px;
	}
}

.main {
	position: absolute;
	top: 60px;
	left: 25px;
	right: 25px;
	bottom: 10px;
}

h1 {
	@include bebas;
	
	font-size: 50px;
	margin: 0 auto;
}

.clr {clear: both;}

a {
	text-decoration: none;
	color: $orange;
	
	&:visited {
		color: $orange;
	}
	
	&:hover {
		color:lighten($orange, 10%);
		text-decoration: underline;
	}
}
a.back {
	$color: #9a907f;
	font-size: 12px;
	text-decoration: none;
	color: $color;
	
	&:visited {
		color: $color;
	}
	&:hover {
		color:
			lighten($color, 20%);
	}
}
.em {
	color:darken($orange,20%);
	font-weight: bold;
}
