// Place all the styles related to the productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'all';

body,html {
		@include linear-gradient(#fcfcfc, #d8d8d8);
// 	background-color:white;
}

#new_production {
	input[type=file] {
		display:block;
	}
}
.main {
	z-index: -4;
}
.project-head {
	width: 100%;
	height: 100px;
	.actions {
		height: 100%;
		position: relative;
		a.follow {
			bottom: 31px;
			position: absolute;
			right: 12px;
		}
	}
}

.project-left {
	width: 180px;
	height: 100%;
	padding: 0px 10px;
}
.project-left .label-left {
	float: left;
	width: 50px;
}
.project-left .label-left h2 {
	text-align: right;
	margin-bottom: 5px;
}
.project-left .label-right {
	float: left;
	width: 80px;
	margin-left: 25px;
}
.project-left .label-right h2 span.label {
	color: #b1a899;
	font-size:20px;
	font-weight: 100;
	vertical-align: 2px;
}
.project-main {
	z-index: -2;
	background-color: #f6f3ef;
	border: 1px solid #E2DECF;
	padding: 10px;
	border-radius: 8px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	left: 200px;
	top: 100px;
	overflow: scroll;
	background: #f5f5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #f8f8f8 10%, #f5f5f5 90%, #f8f8f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(10%,#f8f8f8), color-stop(90%,#f5f5f5), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f8f8f8 10%,#f5f5f5 90%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#f8f8f8 10%,#f5f5f5 90%,#f8f8f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#f8f8f8 10%,#f5f5f5 90%,#f8f8f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#f8f8f8 10%,#f5f5f5 90%,#f8f8f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-8 */


	box-shadow:inset 20px 0 20px -26px #444, inset -20px 0 20px -26px #444;
	.version:first-child {
		margin-top: 2px;
	}
}
.avatar {
	width: 80px;
	height: 80px;
	float: left;
	border: 2px solid #e8b772;
	margin: 0px;
}
.project-title {
	float: left;
	padding-left: 10px;

}
h1.title {
	margin-top: -10px;
	margin-bottom: -15px;
	text-align: left;
}
span.creator-info {
	font: normal normal normal 26px/1.5em Arial, sans-serif;
	color: $orange;
}
div#main {
}

h2 {
	@include bebas;
	font-size:46px;
	margin: -5px 0 -10px 0;
}




.nested_versions {
	.version:first-child {
		margin-top: 45px;
		.branch {
			z-index: -1;
			background: url('/assets/branch-line.png') no-repeat 0 0;
			width: 119px;
			height: 246px;
			position: absolute;
			left: -85px;
			top:-95px;
		}
	}
}
.actions {
	text-align:right;
	height: 20px;
	padding-top: 4px;
	a,a:visited,a:link {
		-webkit-font-smoothing:antialiased;
		position: relative;
		display:inline-block;
		z-index: 9999999999;
		color:#2c77b8;
		height:20px;
		padding: 4px 10px 1px;
		@include linear-gradient(#f8f8f8,#f0f0f0);
		font-weight: bold;
		text-shadow: 0px 1px white;
		box-shadow:0px 0px 1px rgba(0,0,0,.3), 0px 1px 2px rgba(0,0,0,.4);
		border-radius:2px;
		font-size:12px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: lowercase;
		white-space:nowrap;
		vertical-align: middle;
		margin-left: 8px;
		img.icon {
			display:inline-block;
			vertical-align:text-top;
			margin-right: 6px;
		}
		img.fork {
			margin-top: -1px;
		}
	}
}
.version {
	width:436px;
	margin: 10px;
	position: relative;
	margin-top: 45px;

	iframe {
		margin-top:5px;
	}
	
	.processing {
		width: 400px;
		height: 40px;
		padding: 62px 20px;
		background-color: #E9E9E9;
		border-radius: 5px;
		border: 1px solid #d5d5d5;
		font-size: 25px;
		text-align: center;
		font-weight: bold;
		color: #94AEB8;
		text-shadow: 0px 1px white, 0px -1px #666;
		margin-top: 5px;
		@include linear-gradient(#f8f8f8,#eee);
	}


	.version-info {
		width:345px;
		float:right;
		a:link, a,a:visited {
			color:$blue;
		}
		h3 {
			font-size: 29px;
			@include bebas;
			font-weight: normal;
			margin: 0px auto -10px auto;
		}
		.version-user {
			color: $orange;
			font-size: 13px;
			margin-top: -5px;
			text-transform: lowercase;
			font-weight: bold;
			letter-spacing: -1px;
			button.btn-action {
				margin-top: 11px !important;
				margin-left: 1px !important;
			}
		}
		
	}
	.avatar {
		max-height:75px;
		max-width:75px;
		margin: 5px 5px 0px 0px;
	}

	.votes {
		position: absolute;
		right: -236px;
		bottom: 39px;
		margin-top: -54px;
		text-align: center;
		h3 {
			text-align: center;
			font-size:78px;
			span {
				color:#d59f53;
			}
		}
		h3.feature {
			font-size: 27px;
			margin-top: -11px;
		}
		&#feature {
			bottom: 16px;
			img {
				&.down {
				margin-top: 11px;
				}
				&.up {
					margin-bottom: 3px;
				}
			}
		}
		img {
			opacity:.5;
			cursor:pointer;
			@include transition(1s opacity);
			&:hover {
				opacity:1;
			}
			&.down {
				margin-top: 3px;
			}
			&.up {
				margin-bottom: 4px;
			}
		}
		.ratelink.disabled img{
			opacity:.1 !important;
			cursor:default;
			&:hover {
				opacity:.1 !important;

			}
		}
	}
	
	.jp-audio {
		width: 436px;
		height:75px;
		border:none;
		.jp-interface {
			background:url("/assets/player-bg-left.png") left top no-repeat,url("/assets/player-bg-right.png") right top no-repeat,url("/assets/player-bg.png") repeat-x;
			height: 71px;
			box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
			padding: 1px;
			border-radius:4px;
			z-index: 5;
			.jp-controls {
				width: 78px;
				height: 100%;
				border-right:1px solid rgba(0,0,0,.2);
				float: left;
			}
			li.play-container {
				display: inline-block;
				padding-left: 7px;
				width: 73px;
				height: 67px;
				padding-top: 4px;
				a.jp-play {
					background:url('/assets/player-play-neutral.png') no-repeat;
					height:64px;
					width:64px;
					outline:none;
				}
				
			}
			a.jp-pause {
					background:url('/assets/player-pause-button.png') no-repeat;
					display: inline-block;
					position: absolute;
					top: 5px;
					left: 8px;
					width: 63px;
					height: 63px;
					outline:none;
				}
			.player-right {
				display: inline-block;
				width: 357px;
				height: 73px;
				position: relative;
				$gray: #666;
				.jp-progress {
					left: 0;
					top: 0;
					width: 100%;
					height: 55px;
					position: relative;
					.jp-seek-bar {
						width: 100%;
						height: 55px;
 						@include tri-gradient(lighten($gray,5%),darken($gray,20%),lighten($gray,5%));
						.jp-play-bar {
							background-repeat: no-repeat no-repeat;
							height: 55px;
							@include tri-gradient($blue,darken($blue,20%),$blue);
							img.waveform {
								opacity:.9;
							}
						}
					}
				}
				.comments-container {
					width: 100%;
					height: 16px;
					@include linear-gradient(#61b5ff,darken(#61b5ff,5%));
				}
			}
		}
	}
}