// Place all the styles related to the productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'all';



.project-head {
	width: 100%;
	height: 100px;
}

.project-left {
	width: 180px;
	height: 100%;
	padding: 0px 10px;
}
.project-left .label-left {
	float: left;
	width: 50px;
}
.project-left .label-left h2 {
	text-align: right;
}
.project-left .label-right {
	float: left;
	width: 80px;
	margin-left: 25px;
}
.project-left .label-right h2 span.label {
	color: #b1a899;
	font-size:20px;
	font-weight: 100;
	vertical-align: 2px;
}
.project-main {
	background-color: #f6f3ef;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 4px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	left: 200px;
	top: 100px;
	overflow: scroll;
}
.avatar {
	float: left;
	border: 2px solid #e8b772;
}
.project-title {
	float: left;
	padding-left: 10px;
}
h1.title {
	margin-top: -10px;
	margin-bottom: -15px;
}
span.creator-info {
	font: normal normal normal 26px/1.5em Arial, sans-serif;
	color: $orange;
}
div#main {
}

h2 {
	@include bebas;
	font-size:46px;
	margin: -5px 0 -10px 0;
}


.version {
	width:425px;
	margin: 10px;
	.version-info {
		width:325px;
		float:right;
		h3 {
			font-size: 30px;
			@include bebas;
			font-weight: normal;
			margin: -5px auto 0px auto;
		}
		.version-user {
			color: $orange;
			font-size: 20px;
			margin-top: -5px;
		}
	}
}